.feedback-wrap {
	width: 405px;
	margin: 30px auto;
  
}
.feedback-inputs {
	width: 100%;
	list-style: none;
	padding: 0;
	margin: 0;

	position: relative;
	text-align: justify;
}
.feedback-inputs:after {
	 width: 100%;
   height: 0;
   visibility: hidden;
   overflow: hidden;
   content: "";
   display: inline-block;
}
.input-default {
	font-family: "open_sanslight";
	font-size: 12px;
	color: #c7c6c6;
  padding: 10px 10px;
  position: relative;
  box-sizing:border-box;
  border:1px solid #D6D5D3;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  border-radius: 2px;
  width: 100%;
}
.input-item{
	width: 190px;
	display: inline-block;
}
.feedback-message {
  position: relative;
	padding: 10px 10px;
	margin: 0;
	resize: none;
	display: block;
	width:100%;
	height: 180px;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  border-radius: 2px;
  border-style: inset;
  border:1px solid #D6D5D3;
}

.captcha-pic {
	width: 100%;
}
.captcha-pic-wrap {
	width: 190px;
	float: left;
	border:1px solid #D6D5D3;
	border-radius: 2px;
}
.captcha-label, .name-label, .email-label, .message-label {
	display: block;
	font-family: "open_sansregular";
	font-size: 14px;
	color: #727070;
}
.name-label, .email-label, .message-label {
	margin-bottom:5px;
  position: relative;
}
.captcha-label {
	margin: 15px 0 5px 0;
}
.captcha-input-wrap {
	margin-left:212px;
	line-height: 80px;
  position: relative;
}
.input-captcha {
	border:1px solid #D6D5D3;
	background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
  border-radius: 2px;
  width: 100%;
	padding:8px 10px;
	font-family: "open_sanslight";
	font-size: 12px;
	color: #c7c6c6;
	box-sizing:border-box;
} 
.feedback-buttons-wrap {

	width: 345px;
	margin: 30px auto;
}
.feedback-button {
	width:120px;
	padding: 9px 2px;
	margin: 0;
	border-radius: 5px;
  background-image: -moz-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(67,183,150) 0%, rgb(128,232,203) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border:1px solid #2D9A7F;
  font-family: "open_sanssemibold";
  font-size: 14px;
  color: #1e7465;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
   transition: ease 0.5s;
 }
  .feedback-button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(58,160,135) 0%, rgb(95,220,189) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
  .feedback-button:focus {
 color: white;
}
  .reset-button:focus {
 color: red;
}
.reset-button {
	float: right;
  background-image: -moz-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(233,230,228) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
  border: 1px solid #D2D2D2;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.reset-button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
  box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
 text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}




div#username-error {
    position: absolute;
    top: 30px;
    right: 104%;
}
div#user-email-error {
    position: absolute;
    top: 32px;
    left: 104%;
}
div#user-email-error:after {
    content: ''; 
    position: absolute;
    right: 224px; top: 4px;
    border: 6px solid transparent;
    border-right: 6px solid #E48E70;
  }
div#message-error {
    position: absolute;
     top: 67px;
    right: 102%;
    }

div#captcha-error {
    position: absolute;
    top: 30px;
    left: 104%;
}
div#captcha-error:after {
    content: ''; 
    position: absolute;
    right: 193px; top: 4px;
    border: 6px solid transparent;
    border-right: 6px solid #E48E70;
  }
div.tooltip-feedback {
  background-image: -webkit-linear-gradient(bottom, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  background-image: -o-linear-gradient(bottom, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  background-image: linear-gradient(to top, rgb(211,118,84) 0%, rgb(243,162,135) 90%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
  border:1px solid #F19A7C;
  position: absolute;
  height: 20px;
  border-radius:5px;
     font-size: 12px;
     color: #9a4e32;
    font-family: open_sanssemibold;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    line-height: 20px;
    padding: 0 10px;
      text-transform: lowercase;
   
      white-space: nowrap;
     
      text-overflow:ellipsis;
      
      -webkit-transition: ease 0.5s;
  -moz-transition: ease 0.5s;
  -o-transition: ease 0.5s;
   transition: ease 0.5s;
}

  div.tooltip-feedback:after {
    content: ''; 
    position: absolute;
    right: -11px; top: 4px;
    border: 6px solid transparent;
    border-left: 6px solid #E48E70;
    z-index: 999;
  }
  .wrap-input {
    position: relative;
  }
  textarea.tooltip-feedback, input.tooltip-feedback {
  border:3px solid red;
  border-radius:5px;
  color: #9a4e32;
  font-family: open_sanssemibold;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
  white-space: nowrap;
}