.arrow:after {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    content: "";
    width: 10px;
    height: 38px;
    background-position: -4px -26px;
    left:50px;
}
.left-icons-mail:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    content: "";
    width: 17px;
    height: 13px;
    background-position: -4px -341px;
    top:12px;
    left:20px;
}

.left-icons-phone:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    content: "";
    width: 17px;
    height: 22px;
    background-position: -4px -362px;
    top:12px;
    left:20px;
}
.left-icons-skype:before {
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    content: "";
     width: 20px;
    height: 20px;
    background-position: -4px -421px;
    top:12px;
    left:20px;
}

/*Social Idle*/

.fb {
  background-position: 8px -191px;
}
.vk {
  background-position: 7px -527px;
}
.git {
  background-position: 0px -251px;
}
.twit {
  background-position: 1px -449px;
}

/* Social Hover */

.fb:hover {
  background-position: 8px -221px;
}
.vk:hover {
  background-position: 7px -554px;
}
.git:hover {
  background-position: 0px -282px;
}
.twit:hover {
  background-position: 1px -475px;
}
